In [72]:
from pathlib import Path
import pandas as pd

In [73]:
raw_data = Path("../data/raw")
output_data = Path("../data/original")

In [77]:
df = pd.read_csv(raw_data / Path("flag.data"), sep=",")
df

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [78]:
df.dropna()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [27]:
non_numeric_features = list(set(df.columns) - set(df._get_numeric_data().columns))

In [28]:
df.describe({'categorical': non_numeric_features,
             'numeric': df._get_numeric_data().columns
            })

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

In [57]:
name_of_columns = [f'f{str(x)}' for x in range(len(df.columns)-1)]
name_of_columns.append("class")

In [58]:
df.columns = name_of_columns

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   class       194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colours     194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

In [79]:
df = df.rename(columns={"religion": "class"})

In [91]:
dummies = pd.get_dummies(df[["topleft", "botright"]])

In [96]:
df = df.drop(columns=["topleft", "botright"])

In [99]:
df = pd.concat([df, dummies], axis=1)

In [101]:
dummies = pd.get_dummies(df[["mainhue"]])
df = df.drop(columns=["mainhue"])
df = pd.concat([df, dummies], axis=1)

In [102]:
df

,landmass,zone,area,population,language,class,bars,stripes,colours,red,...,botright_red,botright_white,mainhue_black,mainhue_blue,mainhue_brown,mainhue_gold,mainhue_green,mainhue_orange,mainhue_red,mainhue_white
0,5,1,648,16,10,2,0,3,5,1,...,0,0,0,0,0,0,1,0,0,0
1,3,1,29,3,6,6,0,0,3,1,...,1,0,0,0,0,0,0,0,1,0
2,4,1,2388,20,8,2,2,0,3,1,...,0,1,0,0,0,0,1,0,0,0
3,6,3,0,0,1,1,0,0,5,1,...,1,0,0,1,0,0,0,0,0,0
4,3,1,0,0,6,0,3,0,3,1,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,6,3,3,0,1,1,0,0,3,1,...,1,0,0,0,0,0,0,0,1,0
190,3,1,256,22,6,6,0,3,4,1,...,1,0,0,0,0,0,0,0,1,0
191,4,2,905,28,10,5,0,0,4,1,...,0,0,0,0,0,0,1,0,0,0
192,4,2,753,6,10,5,3,0,4,1,...,0,0,0,0,0,0,1,0,0,0
193,4,2,391,8,10,5,0,7,5,1,...,0,0,0,0,0,0,1,0,0,0

In [103]:
df.to_csv(output_data / Path("flags.csv"), index=False)